:root {
    --bg-dark: #3d3d3d;

    --logo-heigth: 100px;
    --header-heigth: 100px;
    --aside-width: 225px;
    --footer-heigth: 40px;

    --shadow:
    0 2px 23px 0(0, 0, 0, 0.1),
    0 2px 49px 0(0, 0, 0, 0.6);
    
}

* {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

.app {
    margin: 0;
    display: grid;
    grid-template-columns: var(--aside-width) 1fr;
    grid-template-rows: var(--header-heigth)
    1fr
    var(--footer-heigth);
    grid-template-areas:
    "logo header"
    "menu content"
    "menu footer";
    height: 100vh;
    background-color: #f5f5f5;

}

aside.logo {
    grid-area: logo;
}

header.header {
    grid-area: header;
}

.main-content {
    grid-area: content;
}

footer.footer {
    grid-area: footer;
}